.calendario {
  width: 392px;
}

.calendario-cabecalho {
  background: rgb(215, 232, 236);
  border: 1px solid #999;
  font-size: 30px;
  text-align: center;
  width: 386px;
}

.calendario-cabeca {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.calendario-botao-anterior {
  background-color: rgb(7, 202, 202);
  border: none;
  padding: 9px 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  border-radius: 19px;
  border: 2px solid #070707;
  /* position: absolute; */
  left: 0;
}

.calendario-botao-proximo {
  background-color: rgb(7, 202, 202);
  border: none;
  padding: 9px 10px;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  border-radius: 19px;
  border: 2px solid #070707;
  position: absolute;
  right: 0;
}

.calendario-botao:hover {
  background-color: #252e26; /* Green */
  color: white;
}

.calendario-botao:active {
  background-color: #252e26;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.calendario-mes {
  background: rgb(215, 232, 236);
  border: 1px solid #999;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 23%;
}

.calendario-linhas {
  display: table;
}
